<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
      <li>Coffee</li>
     
    </ul>

    <h2>Welcome</h2>
    <h3>Hello </h3>

    <h4>HI welocme to my website</h4> 
  </body>
</html>